<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body class="compliment" style="background-color: <%= rndm_color %>;">
    <h1><%= title %></h1>
    <p class="compliment"><%= rndm_comp %>, <%= name %></p>
  </body>
</html>
